[submodule "extern/xtensor"]
	path = extern/xtensor
	url = https://github.com/xtensor-stack/xtensor
[submodule "extern/xtl"]
	path = extern/xtl
	url = https://github.com/xtensor-stack/xtl
[submodule "extern/xsimd"]
	path = extern/xsimd
	url = https://github.com/xtensor-stack/xsimd
[submodule "extern/xtensor-blas"]
	path = extern/xtensor-blas
	url = https://github.com/xtensor-stack/xtensor-blas
